* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.avatar {
    width: 350px;
    height: 450px;
    border: 2px solid #141414;
}

.social {
    width: 30px;
    height: 30px;
}

.verticalline {
    border-left: 2px solid #2a2a2a;
    height: 90vh;
}

.social:hover {
    position: relative;
    bottom: 5px;
    transition: 2s ease-in-out .5s;
}

@media screen and (max-width: 991px) {
    .avatar {
        width: 250px;
        height: 320px;
    }
}