* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.avatar {
    width: 320px;
    height: 450px;
    border: 2px solid #141414;
}

.social {
    width: 30px;
    height: 30px;
}

.verticalline {
    border-left: 2px solid #2a2a2a;
    height: 80vh;
}

.social:hover {
    position: relative;
    bottom: 5px;
    transition: 2s ease-in-out .5s;
}

.navbar-brand::first-letter {
    color: #2a2a2a;
    font-weight: bolder;
    font-style: italic;
}

.card {
    border-radius: 15%;
}

@media screen and (max-width: 991px) {
    .avatar {
        width: 20px;
        height: 320px;
    }
}